
nbproject/
#ignore thumbnails created by windows
Thumbs.db
/tests/SpreadsheetWriter/Writer/_files/performance.csv
/tests/SpreadsheetWriter/Writer/_files/actual_valid.csv
/tests/SpreadsheetWriter/Writer/_files/actual_valid.xml
/tests/SpreadsheetWriter/Writer/_files/actual_custom_delimiters.csv
/tests/SpreadsheetWriter/Writer/_files/performance.xml
/tests/SpreadsheetWriter/Writer/_files/actual_valid.xlsx
/tests/SpreadsheetWriter/Writer/_files/performance.xlsx
/tests/SpreadsheetWriter/Writer/_files/multi_sheet_write.xlsx
/vendor/.composer/
/composer.phar
/vendor/
/composer.lock
/build
_tmp